.login {
    width: 95%;
    border-radius: 6px;
    padding: 20px;
    background: #FFF;
    margin-top: 50px;
    position: relative;
}
.login .login-form {
    width: 94%;
}
.login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border-radius: 50%;
    background: #FFF;
    border: 5px solid #efefef
}
.login-group-checkbox {
    margin-bottom: 0;
}
.form-control {
    border: 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height: auto;
    border-bottom: 2px solid #E5E5E5;
}
.form-control,
.form-control:hover,
.form-control:focus,
.form-control:active {
    box-shadow: 0 0 0;
}
@media screen and (max-width: 480px){
    .account {
        margin-left: 0;
    }
}