* {
    outline: 0;
    outline: none;
}
html {
    position: relative !important;
    min-height: 100%;
}
body {
    padding-top: 50px;
    background: #efefef;
}
.form-search {
    position: relative;
}
.form-search > .fa {
    position: absolute;
    right: 21px;
    font-size: 16px;
    top: 8px;
    color: #B7AFAF;
}
.form-search .form-control {
    background: #FFF;
    padding: 5px 24px 5px 5px;
    border-radius: 3px;
    border: 1px solid #E8E7E7;
}
.form-search .form-control:focus,
.form-search .form-control:active {
    border-color: #D6D5D5;
}