@media screen and (max-width: 480px){
    #grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

@media screen and (min-width: 769px) {
    #grid[data-columns]::before {
        content: '4 .column.size-1of4';
    }

    .navbar-toggle {
        display: block;
    }
    .navbar-toggle > .icon-bar {
        background: #000;
        width: 33px;
        height: 3px;
    }

    .navbar-collapse {
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
    }
    .navbar-collapse.in {
        height: 100% !important;
    }
    .nav-sidebar {
        margin: 20px 0 0 0;
        padding: 0;
    }
    .nav-sidebar li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-sidebar li a {
        display: block;
        color: #FFF;
        padding: 10px 20px;
        border-bottom: 1px solid #292929;
        text-decoration: none;
    }
    
    .wrapper {
        padding: 0;
        transition: all .4s ease 0s;
    }
    
    .wrapper.active .sidebar-wrapper {
        left: 150px;
        width: 70px;
        transition: all .4s ease 0s;
    }

}

@media screen and (max-width: 769px) {
    .navbar-collapse {
        background: #000;
        padding: 0;
        border: 0;
    }
    .navbar-collapse .nav-sidebar {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .navbar-collapse .nav-sidebar>li>a{
        display: block;
        padding: 12px;
        color: #FFF;
        text-align: center;
        text-decoration: none;
    }
    .navbar-collapse .nav-sidebar>li>a:hover {
        transition: background 0.2s ease-in;
        background: #FFFFB9 url("../img/stardust.png");
        color: #000;
    }
    
    .wrapper {
        padding: 0;
    }
    .wrapper.active .footer .footer-wrapper,
    .footer .footer-wrapper{
        padding-left: 0;
    }
}
