* {
    outline: 0;
    outline: none;
}
html {
    position: relative !important;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    background: #FFF;
}
.wrapper {
    padding: 0 30px;
}
.body-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 420px;
    z-index: -1;
}
.body-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    opacity: 0.3;
    background: #FFF url("../img/stardust.png");
}
.body-overlay .bimg {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    background: #FFF url("../img/notebook-dark.png");
}
.body-overlay .bfade {
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0px;
    background: #fff;
    opacity: 0.58;
}
.menu {
    position: relative;
}
.navbar-toggle .icon-bar{
    background: #000;
    width: 33px;
    height: 3px;
}
#grid[data-columns]::before {
    content: "4 .column.size-1of4";
    visibility: hidden;
}
.column {
    float: left;
}
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.3333%; }
.size-1of4 { width: 25%; }

.card {
    margin: 20px 10px;
    background: #fff;
    height: 300px;
    border-radius: 2px;
    border-top: 1px solid #F0F0F0;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.banner {
    padding: 30px 0 0;
}
.social {
    text-align: center;
}
.social>ul>li {
    display: inline;
    padding: 0 5px;
}
.social>ul>li>a{
    font-size: 22px;
    color: #A09B9B;
}
.site-name {
    margin-top: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 47px;
    color: #000;
    letter-spacing: 8px;
}
.headlines {
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    color: #8f8f8f;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}
.row{
    margin-left:0px;
    margin-right:0px;
}
.glyphicon:empty {
    width: 1em;
}
.wrapper {
    transition: all .4s ease 0s;
    height: 100%
}
.sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 70px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.page-content-wrapper {
    margin-left: 0;
    width: 100%;
    height: auto;
}
.wrapper.active {
    padding-left: 70px;
}
.wrapper.active .footer .footer-wrapper {
    padding-left: 150px;
}
.wrapper.active .sidebar-wrapper {
    left: 150px;
}
.sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    text-decoration: none;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    font-size: 20px;
    color: #999999;
    display: block;
    text-align: center;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    color: #fff;
    background: #2D2C2C;
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    line-height: 60px;
    font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
    text-align: center;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.menu-icon{
    position: absolute;
    left: 0;
    top: 20px;
}
.menu-icon.menu-hidden-icon {
    display: none !important;
}
.footer {
    text-align: center;
    padding: 20px 0;
    max-height: 60px;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
}
.footer .footer-wrapper {
    transition: all .4s ease 0s;
    padding-left: 70px;
}